body{
    background-color: lightgray;
    margin: 0px;
    padding: 0px;
}
#bandeau-haut{
    display: inline-block;
    height: 70px;
    background-color: lightgray;
    width: 100%;
}
#menblack{
    display: none;
}
#menblack.active{
    display: block;
    width: 300px;
    height: 150px;
    background-color: lightgray;
    margin: 6px 0;
}
#menblack.active a{
    text-decoration: none;
    color: black;
    text-transform: none;
    font-family: cursive;
    font-size: 1200;
}
#menblack.active #croix{
    width: 50px;
}
#burger{
    display: none;
}
#tel{
    display: none;
}
#grille-gp{
    margin-top: 7px;
    margin-left: 10px;
    width: 90px;
}
#acceuil{
    margin-left: 980px;
}
#titre_1{
    margin-left: 10px;
}
#contact{
    margin-left: 10px;
}
#search{
    margin-left: 10px;
}
.text-bandeau{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
#grande-image{
    height: 681px;
    background-image: linear-gradient(red,orange,red);
}
#grille-moto{
    margin-left: 250px;
    height: 680px;
}
#paragraphe{
    width: 870px;
    margin-left: 300px;
    margin-bottom: 30px;
}
#parag{
    text-align: justify;
}
#titre-parag{
    margin-left: 20px;
}
#image-3-pilote{
    margin-top: 10px;
    letter-spacing: -0.31em;
    margin-bottom: 20px;
}
.fig{
    display: inline-block;
    width: 25%;
    margin: 0px;
    text-align: center;
    letter-spacing: normal;
}
#zarco{
    width: 141px;
    padding-right: 0px;
}
/*#zarcFig{
    width: 50%;
    margin-right: 0%;
    padding-right: 0%;
}*/
#map{
    height: 560px;
    width: 600px;
    margin-left: 100px;
}
.ligne{
    display: block;
    margin-top: 15px;
}
.mapForm{
    display: inline-block;
    padding-left: 150px;
    padding-top: 200px;
    vertical-align: top;
}
.formu{
    margin-left: 200px;
}
#nom{
    margin-left: 10px;
}
#villeNaissance{
    margin-left: 10px;
}
#dateNaissance{
    width: 155px;
}
#mail{
    width: 329px;
}
#photo{
    width: 329px;
}
#text{
    width: 329px;
    height: 40px;
}
#bandeauBas{
    height: 50px;
    width: 100%;
    background-color: gray;
}
#nompre{
    padding-top: 15px;
    padding-left: 45%;
}

@media screen and (max-width: 1024px){
    #grille-gp{
        margin-left: 500px;
    }
    #acceuil{
        margin-left: 400px;
    }
    #grande-image{
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    #grille-moto{
        margin: 0px;
        height: 100%;
        width: 100%;
        background-color: lightgray;
    }
    #paragraphe{
        margin-left: 80px;
    }
    .fig{
        width: 50%;
        margin-top: 20px;
    }
    .mapForm{
        padding: 0px;
    }
    #map{
        margin-left: 15%;
        padding: 50px;
    }
    #formulaire{
        padding-top: 50px;  
        margin-left: 31%;
    }
}
@media screen and (max-width: 768px){
    #grille-gp{
        display: block;
        margin-left: 370px;
    }
    #acceuil{
        margin-left: 200px;
    }
    #grande-image{
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    #grille-moto{
        margin: 0px;
        height: 100%;
        width: 100%;
        background-color: lightgray;
    }
    #paragraphe{
        margin-left: 30px;
        width: 700px;
    }
    .fig{
        width: 50%;
        margin-top: 20px;
    }
    .mapForm{
        padding: 0px;
        margin: 0px;
    }
    #map{
        margin-left: 5%;
    }
    #formulaire{
        padding-top: 50px;  
        margin-left: 30%;
    }
}
@media screen and (max-width: 360px){
    #grille-gp{
        display: inline-block;
        margin: 0px;
        padding: 0px;
        margin-right: 90px;
    }
    #burger{
        width: 50px;
        display: inline-block;
        margin-right: 70px;
    }
    #tel{
        display: inline-block;
        width: 50px;
    }
    .img-bd{
        
    }
    #acceuil{
        display: none;
    }
    #titre_1{
        display: none;
    }
    #contact{
        display: none;
    }
    #search{
        display: none;
    }
    #btn-search{
        display: none;
    }
    #grande-image{
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    #grille-moto{
        margin: 0px;
        height: 100%;
        width: 100%;
        background-color: lightgray;
    }
    #paragraphe{    
        width: 90%;
        margin: 20px;
    }
    .fig{
        margin-top: 20px;
        width: 100%;
    }
    #map{
        padding: 0px;
        margin: 0px;
        width: 90%;
        margin-left: 5%;
    }
    .mapForm{
        padding: 0px;
        margin: 0px;
    }
    #formulaire{
        margin-left: 4%;
    }
    #nompre{
        padding-left: 0px;
        margin-left: 30%;
    }
}